body
{
	background-color:white;
	font-family: verdana,sans-serif;
	margin: 0;
}

a:visited{
	color:white;
	text-decoration:none;
}

a:link{
	color:white;
	text-decoration:none;
}

#home
{
	z-index:9999;
	position:absolute;
	top:0%;
	left:47%;
	width:6%;
	height:4%;
	
}

#marvel_logo
{

	position:absolute;
	left:0%;
	top:0%;
	background-color:#333333;
	height:4.25%;
	width:100%;
	text-align:center;
}

#horizontal_yellow_bar1
{

	position:absolute;
	background-color:white;
	bottom:0%;
	height:1.02%;
	width:100%;
	left:0%;
}

#vertical_yellow_bar1
{

	position:absolute;
	background-color:white;
	top:0%;
	height:100%;
	width:0.15%;
	left:93%;
}

#shield_logo
{

	position:absolute;
	top:8%;
	left:89.5%;
	height:80%;
	width:10%;
}

#sign_in
{

	font-size:1.72vmin;
	position:absolute;
	left:64.5%;
	top:-45%;
	color: white;
}


#search_logo
{

	position:absolute;
	left:-35.8%;
	top:3%;
	color: white;
	height:100%;
}

#vertical_yellow_bar2
{

	position:absolute;
	background-color:white;
	top:-12%;
	height:120%;
	width:1.22%;
	left:37.5%;
}

#horizontal_yellow_bar2
{

	position:absolute;
	background-color:white;
	top:7000%;
	height:400%;
	z-index:5;
	width:100%;
	left:0%;
}

#filler
{

	position:absolute;
	top:102%;
	background-color:#333333;
	height:72%;
	width:100%;
	text-align:center;
}

#movies
{

	font-size:1.72vmin;
	position:absolute;
	color: white;
	top:12.5%;
	height:100%;
	left:33.58%;
}

#movies:hover {
	color:red;
}

#series
{
	font-size:1.72vmin;
	position:absolute;
	color: white;
	top:12.5%;
	left:41.34%;
}

#series:hover {
	color:red;
}

#comics
{

	font-size:1.72vmin;
	position:absolute;
	color: white;
	top:12.5%;
	left:48%;
}

#comics:hover {
	color:red;
}

#games
{

	font-size:1.72vmin;
	position:absolute;
	color: white;
	top:12.5%;
	left:54.85%;
}

#games:hover {
	color:red;
}

#characters
{

	font-size:1.72vmin;
	position:absolute;
	color: white;
	top:12.52%;
	left:61.2%;
}

#characters:hover {
	color:red;
}

#overview{
	position:relative;
	top:350%;
	right:15%;
	font-size:1.8vw;
	color:black;
}

#series_icon
{
	position:relative;
	left:40%;
	top:15%;
}

#series_text
{
	position:absolute;
	font-size:2vw;
	font-family:arial;
	left:46%;
	top:15%;
	
}

#series_text1
{
	position:absolute;
	font-size:1.1vw;
	font-family:TimesNewRoman;
	left:33%;
	top:35%;
	width:40%;
}

#featured{
	position:absolute;
	top:120%;
	left:30%;
	font-size:1.8vw;
	color:black;
}
#ytvid1{
	top:10%;
}